footer{
    border-top: 1px solid var(--border);
    padding: 16px 0;
}

footer p{
    text-align: center;
    letter-spacing: 1px;
    gap: 32px;
    color: var(--text-muted);
    font-size: 1rem;
}

